.App {
	text-align: center;
	background-image: linear-gradient(to top, #ee9ca7, #ffdde1);
	border-radius: 1rem;
	min-height: 95vh;
}

.row {
	// background-color: white;
	margin: 1rem;
}

.row_inner {
	// background-color: white;
	margin: auto;
}

.columns {
	display: flex; /* flex/inline-flex */
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	flex: 10% // Fractions like 33.33 also work
}
